camp-fire-api/camp-fire.Application/obj/Debug/net6.0/refint/camp-fire.Application.dll
camp-fire-api/camp-fire.Application/bin/Debug/net6.0/camp-fire.Application.dll
camp-fire-api/camp-fire.Application/bin/Debug/net6.0/camp-fire.Application.pdb
camp-fire-api/camp-fire.Application/obj/Debug/net6.0/camp-fire.Application.csproj.CoreCompileInputs.cache
camp-fire-api/camp-fire.Application/obj/Debug/net6.0/camp-fire.Application.dll
camp-fire-api/camp-fire.Application/obj/Debug/net6.0/camp-fire.Application.pdb
camp-fire-api/camp-fire.Application/obj/Debug/net6.0/ref/camp-fire.Application.dll
camp-fire-api/camp-fire.Application/obj/Debug/net6.0/refint/camp-fire.Application.dll
